* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Staatliches", cursive;
}

li {
  list-style: none;
}

.articulos {
  border: white solid 2px;
  background-color: rgb(255, 255, 255);
}
.articulos figure {
  display: inline-block;
  border: solid 2px black;
  width: 100%;
}
.articulos figure img {
  width: 100%;
}
.articulos figure figcaption {
  background-color: rgba(0, 0, 0, 0.534);
  left: 0px;
  bottom: 0px;
  width: 100%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  color: white;
  font-size: 1.4em;
  text-align: center;
}
.articulos h2 {
  text-align: start;
  background-color: #131b27;
  color: white;
  padding: 10px;
}
.articulos h3 {
  text-align: justify;
  color: #0e4961;
}
.articulos p {
  text-align: justify;
  background-color: white;
  color: black;
  margin: 10px;
}

.afa {
  width: 250px;
  height: 200px;
  object-fit: cover;
}

.hero1 {
  margin: 30px;
}
.hero1 .hero__text1 {
  color: black;
  text-align: center;
  padding: 15px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(23, 38, 66, 0.4941176471);
  height: 30vh;
}
.hero1 .hero__text1 h1 {
  color: white;
  text-shadow: 1px 1px 2px black;
}
.hero1 .hero__text1 h2 {
  margin-top: 40px;
  font-size: 1.3em;
  color: white;
}
@media (min-width: 1024px) and (max-width: 3000px) {
  .hero1 .hero__text1 h2 {
    font-size: 1.6em;
  }
}
.hero1 .hero__text1__vector {
  width: 2.5em;
  height: 2.5em;
  color: white;
  margin-right: 70px;
}
.hero1 .hero__text1__vector:hover {
  cursor: pointer;
  transform: translateX(50px) rotateZ(500deg);
  transition-duration: 4s;
}

body {
  background-image: url(../image/stadium2.gif);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto 20vw;
  grid-template-areas: "header" "main" "footer";
}
body header {
  grid-area: header;
}
body main {
  grid-area: main;
}
body .footer {
  grid-area: footer;
}
@media (min-width: 1024px) and (max-width: 3000px) {
  body {
    grid-template-rows: auto auto 10vw;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding-left: 10px;
  align-items: center;
}
.header .logo {
  background-color: rgba(0, 0, 0, 0.372);
  border-radius: 20px;
  width: 15vw;
  text-align: center;
}
@media (min-width: 1024px) {
  .header .logo {
    background-color: rgba(0, 0, 0, 0.372);
    border-radius: 20px;
    width: 10vw;
    text-align: center;
    margin-left: 30px;
    margin-top: 10px;
  }
  .header .logo .logo__imagen {
    padding-top: 8px;
    width: 5vw;
    height: auto;
  }
}
.header .logo:hover {
  transform: scale(1.2);
  transition: all 0.5s ease;
}
.header .logo .logo__imagen {
  padding-top: 8px;
  width: 10vw;
  height: auto;
}
.header .nav ul {
  list-style: none;
}
.header .nav ul li a {
  text-decoration: none;
  color: #ffffff;
}
.header .nav ul li a:hover {
  color: #ffffff;
  transition: all 0.6s ease;
  border-bottom: #0077b5 solid 3px;
  font-size: 1.2em;
}
@media (min-width: 780px) and (max-width: 1023px) {
  .header .nav {
    margin: 18px 5px;
  }
}
@media (min-width: 1024px) {
  .header .nav .nav {
    margin-top: 18x;
  }
  .header .nav .menu__lista {
    padding: 0 8px;
    font-size: 2vw;
  }
}
@media (min-width: 780px) and (max-width: 1023px) {
  .header .nav .menu__lista {
    padding: 0 8px;
    font-size: 2.5vw;
  }
}

.titulo {
  display: flex;
  height: 65vh;
  justify-content: center;
}
.titulo .slide-bottom {
  display: inline-block;
  margin: 0 0.5rem;
  color: rgba(29, 160, 242, 0.7019607843);
  text-shadow: 0.1em 0.1em 0.2em black;
  letter-spacing: 5px;
  text-align: center;
  height: 150px;
  -webkit-animation: slide-bottom 5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@media (min-width: 780px) and (max-width: 1023px) {
  .titulo .slide-bottom {
    text-shadow: 0.1em 0.1em 0.2em black;
    letter-spacing: 6px;
    font-size: 2.7em;
    text-align: center;
  }
}
@media (min-width: 1024px) {
  .titulo .slide-bottom {
    text-shadow: 0.1em 0.1em 0.2em black;
    letter-spacing: 6px;
    font-size: 4.5em;
    text-align: center;
  }
}
@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(80px);
    transform: translateY(80px);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-100);
    transform: translateY(-100);
  }
  100% {
    -webkit-transform: translateY(20vh);
    transform: translateY(20vh);
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.footer .icons {
  display: flex;
  column-gap: 15px;
  width: 70vw;
  justify-content: space-evenly;
  align-items: center;
}
.footer .icons .icon {
  width: 3em;
  height: 3em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 15px;
  color: #fff;
  border-radius: 50%;
  outline: 2px solid #fff;
  transition-property: outline-offset, outline-color, background-color;
  transition-duration: 0.25s;
}
.footer .icons .icon i {
  font-size: 2em;
}
.footer .icons .icon:hover {
  outline-offset: 4px;
}
.footer .icons .icon:hover .icon:hover i {
  animation: shake 0.25s;
  color: white;
}
@keyframes shake {
  10% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(-15deg);
  }
  30% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-15deg);
  }
}
@media (min-width: 780px) and (max-width: 1023px) {
  .footer .icons .icon {
    width: 2.5em;
    height: 2.5em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    border-radius: 50%;
    outline: 2px solid #fff;
    transition-property: outline-offset, outline-color, background-color;
    transition-duration: 0.25s;
  }
  .footer .icons .icon i {
    font-size: 1.5em;
  }
}
@media (min-width: 1024px) {
  .footer .icons .icon {
    width: 2.5em;
    height: 2.5em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    border-radius: 50%;
    outline: 2px solid #fff;
    transition-property: outline-offset, outline-color, background-color;
    transition-duration: 0.25s;
  }
  .footer .icons .icon i {
    font-size: 1.5em;
  }
}
.footer .icons .icon--instagram {
  background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  outline-color: #a02d76;
}
.footer .icons .icon--twitter {
  background-color: #1da1f2;
  outline-color: #1da1f2;
}
.footer .icons .icon--facebook {
  background-color: #0077b5;
  outline-color: #0077b5;
}
.footer .icons .icon--youtube {
  background-color: red;
  outline-color: red;
}

.representamos {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  margin: 10px;
  border: black 5px solid;
}
.representamos .hero {
  height: 60vh;
  background-image: url(../image/oficina.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.representamos__text {
  color: rgb(147, 70, 70);
  padding: 15px;
  border-radius: 20px;
  background-color: rgba(128, 128, 128, 0.973);
}
.representamos__text h2 {
  background-color: rgba(255, 255, 255, 0.4549019608);
}
.representamos .rep-1 {
  background-size: cover;
  width: 70vw;
  align-items: center;
}
.representamos .representamos__seccion h2 {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.4549019608);
  background-size: 150px;
}
.representamos .representamos__seccion h5 {
  background-color: rgba(255, 255, 255, 0.4549019608);
  text-align: justify;
}

.tarjetas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media (min-width: 1024px) {
  .tarjetas {
    justify-content: space-around;
    width: 100%;
  }
}
.tarjetas .cards {
  background-color: white;
  width: 250px;
  height: auto;
  overflow: scroll;
  margin: 10px;
  border-radius: 15px;
  box-shadow: 5px 8px 12px black;
  overflow: hidden;
}
.tarjetas .cards:hover {
  background-color: #285AEB;
  color: white;
  cursor: pointer;
  transform: scale(1.03);
  transition: all 0.6s ease;
}
.tarjetas .cards .card__image {
  height: 200px;
  margin-bottom: 15px;
  background-size: cover;
}
.tarjetas .cards .card__titulo {
  padding: 10px;
  text-align: center;
  background-color: rgba(29, 160, 242, 0.7019607843);
}
.tarjetas .cards .card__parrafo {
  max-height: 40vh;
  padding: 10px;
  overflow: auto;
}
.tarjetas .cards a {
  background-color: black;
  color: white;
  padding: 15px 20px;
  display: block;
  text-align: center;
  margin: 20px 50px;
  text-decoration: none;
}
.tarjetas .cards a:hover {
  transform: scale(1.05);
}

.noticias {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(5, auto) 20vw;
  grid-gap: 10px;
  grid-template-areas: "hero1" "noticia1" "noticia3" "noticia2" "noticia4" "banner ";
}
.noticias .hero1 {
  grid-area: hero1;
}
.noticias .noticias__articulo1 {
  grid-area: noticia1;
}
.noticias .noticias__articulo2 {
  grid-area: noticia2;
}
.noticias .noticias__articulo3 {
  grid-area: noticia3;
}
.noticias .noticias__articulo4 {
  grid-area: noticia4;
}
.noticias .aside {
  grid-area: aside;
}
.noticias .carusel {
  grid-area: banner;
  background-color: rgba(23, 38, 66, 0.4941176471);
}
@media (min-width: 780px) and (max-width: 1023px) {
  .noticias {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(3, auto) 30vw;
    grid-template-areas: "hero1    hero1" "noticia1 noticia3" "noticia2 noticia4" "banner banner    ";
  }
  .noticias .hero1 {
    grid-area: hero1;
  }
  .noticias__articulo1 {
    grid-area: noticia1;
  }
  .noticias__articulo2 {
    grid-area: noticia2;
  }
  .noticias__articulo3 {
    grid-area: noticia3;
  }
  .noticias__articulo4 {
    grid-area: noticia4;
  }
  .noticias .aside {
    grid-area: aside;
  }
  .noticias .carusel {
    grid-area: banner;
  }
}
@media (min-width: 1024px) and (max-width: 3000px) {
  .noticias {
    display: grid;
    grid-template-columns: 40% 40% 20%;
    grid-template-rows: repeat(3, auto) 30vw;
    grid-template-areas: "hero1   hero1    hero1" "noticia1 noticia3 aside" "noticia2 noticia4 aside" "banner banner banner";
  }
  .noticias .hero1 {
    grid-area: hero1;
  }
  .noticias__articulo1 {
    grid-area: noticia1;
  }
  .noticias__articulo2 {
    grid-area: noticia2;
  }
  .noticias__articulo3 {
    grid-area: noticia3;
  }
  .noticias__articulo4 {
    grid-area: noticia4;
  }
  .noticias .aside {
    grid-area: aside;
  }
  .noticias .carusel {
    grid-area: banner;
  }
}

.contact_form {
  width: 80%;
  height: auto;
  margin: 80px auto;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #fbfbfb;
  padding-left: 30px;
}
@media (min-width: 780px) and (max-width: 1023px) {
  .contact_form {
    width: 60%;
    height: auto;
    margin: 80px auto;
  }
}
@media (min-width: 1024px) {
  .contact_form {
    width: 40%;
    height: auto;
    margin: 80px auto;
  }
  .contact_form h1 {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 20px;
    color: #455a93;
  }
  .contact_form h3 {
    font-size: 1rem;
    padding-bottom: 30px;
    color: #0e0e0e;
  }
  .contact_form label {
    display: block;
    float: center;
  }
  .contact_form label span {
    color: #455a93;
  }
  .contact_form input {
    background-color: #fbfbfb;
    width: 80%;
    height: 40px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #7e96ef;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
  }
  .contact_form input:focus {
    outline: 0;
    border: 1px solid #172642;
  }
  .contact_form textarea {
    background-color: #fbfbfb;
    width: 80%;
    height: 150px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #7e96ef;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    padding-top: 15px;
  }
  .contact_form textarea:focus {
    outline: 0;
    border: 1px solid #172642;
  }
  .contact_form .boton {
    height: 45px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-transform: uppercase;
    background-color: #7e96ef;
    border-color: #7e96ef;
    border-style: solid;
    border-radius: 10px;
    width: 80%;
    cursor: pointer;
  }
  .contact_form .boton p {
    color: #fff;
  }
}
.contact_form h1 {
  font-size: 2rem;
  text-align: letf;
  padding-bottom: 20px;
  color: #455a93;
}
.contact_form h3 {
  font-size: 1rem;
  padding-bottom: 30px;
  color: #0e0e0e;
}
.contact_form label {
  display: block;
  float: center;
}
.contact_form label span {
  color: #455a93;
}
.contact_form input {
  background-color: #fbfbfb;
  width: 80%;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #7e96ef;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}
.contact_form input:focus {
  outline: 0;
  border: 1px solid #172642;
}
.contact_form textarea {
  background-color: #fbfbfb;
  width: 80%;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #7e96ef;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}
.contact_form textarea:focus {
  outline: 0;
  border: 1px solid #172642;
}
.contact_form .boton {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #7e96ef;
  border-color: #7e96ef;
  border-style: solid;
  border-radius: 10px;
  width: 80%;
  cursor: pointer;
}
.contact_form .boton p {
  color: #fff;
}
.contact_form .aviso {
  font-size: 13px;
  color: #0e0e0e;
}

/*# sourceMappingURL=style.css.map */
