*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Staatliches', cursive;
}


body{background-image: url(./image/stadium2.gif);
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas:
     "header"
     "main"
     "footer";

}
header{
    grid-area: header;
}
main{
    grid-area: main;
}
.footer{
    grid-area: footer;
}

li a{
    text-decoration: none;
    color:#ffffff;
}
li a:hover{
    color: #ffffff;
    transform: scale(1,3);
    transition: all 0.6s ease;
    border-bottom: #0077b5 solid 3px;
    font-size: 1.2em;
}
ul{
    list-style: none;
}

/* header */

.header{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    align-items: flex-start;

}
.logo{
   background-color: rgba(0, 0, 0, 0.372);
   border-radius: 20px;
   width: 90px;
   text-align: center;
}
.logo__imagen{
    padding-top: 8px;
    width: 10vh;
    height: 15vh;
}
.logo:hover{
    transform: scale(1.3);
    transition: all 0.5s ease;

}

.menu__lista{
    font-size: 3vw;
}




/*------------- Main ----------------*/

.titulo{
    display: flex;
    height: 350px;
    text-align: center;
    justify-content: center;

}
.titulo__h1{
    display: inline-block;
    margin: 0 0.5rem;
}
  
.slide-bottom {
	-webkit-animation: slide-bottom 4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-bottom 4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
    }
    100% {
      -webkit-transform: translateY(80px);
              transform: translateY(80px);
    }
  }
   @keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(-100);
              transform: translateY(-100);
    }
    100% {
      -webkit-transform: translateY(100px);
              transform: translateY(100px);
    }
  } 
  




/* footer */
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}
.icons {
    display: flex;
    column-gap: 15px;
    
}

.icon {
    width: 25px;
    height: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    border-radius: 50%;
    outline: 2px solid #fff;
    transition-property:
        outline-offset, outline-color,
        background-color;
    transition-duration: .25s;
}

.icon:hover {
    outline-offset: 4px;
}

.icon:hover i {
    animation: shake .25s;
    color: white;
}

.icon--instagram:hover {
    background-image: radial-gradient(circle at 30% 107%,
            #fdf497 0%, #fdf497 5%,
            #fd5949 45%, #d6249f 60%,
            #285AEB 90%);
    outline-color: #a02d76;
}

.icon--twitter:hover {
    background-color: #1da1f2;
    outline-color: #1da1f2;
}

.icon--facebook:hover {
    background-color: #0077b5;
    outline-color: #0077b5;
}

.icon--youtube:hover {
    background-color: red;
    outline-color: red;
}

@keyframes shake {
    10% {
        transform: rotate(15deg);
    }

    20% {
        transform: rotate(-15deg);
    }

    30% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(-15deg);
    }


}

/* ----------tablet 768px ------------ */

@media (min-width: 780px )and (max-width:1023px){
    .nav{
        margin: 18px 5px;
    }
    .menu__lista{
        padding: 0 8px;
        font-size: 2.5vw;
    }
    .icon {
        width: 40px;
        height: 40px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        font-size: 25px;
        color: #fff;
        border-radius: 50%;
        outline: 2px solid #fff;
        transition-property:
            outline-offset, outline-color,
            background-color;
        transition-duration: .25s;
    }

}
/* --------laptop y mas--------- */


@media (min-width: 1024px){
    .logo{
        background-color: rgba(0, 0, 0, 0.372);
        border-radius: 20px;
        width: 150px;
        text-align: center;
     }
    .logo__imagen{
         padding-top: 8px;
         width: 15vh;
         height: 20vh;
     }
     .nav{
        
        margin-top: 18x ;
    }
    .menu__lista{
        padding: 0 8px;
        font-size: 2vw;
    }
    li a:hover{
        font-size: 2.5vw;
        color: white;
        border-bottom: #0077b5 solid 4px;
        
    }
    .icon {
        width: 40px;
        height: 40px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        font-size: 25px;
        color: #fff;
        border-radius: 50%;
        outline: 2px solid #fff;
        transition-property:
            outline-offset, outline-color,
            background-color;
        transition-duration: .25s;
    }



}

/* -----------Sobre Nosotros---------- */
.representamos{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    margin: 10px;
    border: black 5px solid;
}
.hero {
    height: 60vh;
  
    background-image: url(./image/oficina.jpg); 
    background-size:cover; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hero__text {
    color: black;
    text-align: center;
    padding: 15px;
    border-radius: 20px;
    background-color: rgba(128, 128, 128, 0.542);
  }
.rep-1{
    background-size: cover;
    width: 70vw;
    align-items: center;
}

.representamos__seccion h2{
    align-items: center;
    background-color: #ffffff74;
    background-size: 150px;
   
}
.representamos__seccion h5{
    background-color: #ffffff74;
    text-align: justify;
}







/* ----------JUGADORES--------------- */
.hero1{
margin: 30px;
}
.hero__text1{
    color: black;
    text-align: center;
    padding: 15px;
    border-radius: 20px;
    background-color: rgba(128, 128, 128, 0.542);
    height: 30vh;
     }
.hero__text1 h2{
    margin-top: 30px;
}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.cards{
    background-color: white;
    width:250px;
    height: auto;
    margin: 10px;
    border-radius: 15px;

}
.cards:hover{
    background-color: #285AEB;
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 0.6s ease;
}
.card__image{
    height: 200px;
    margin-bottom: 15px;
    background-size: cover;
}
.card__titulo{
    padding: 10px;
    text-align: center;
    background-color: #1da0f2b3;
}
.card__parrafo{
    padding: 10px;
}
.jug-1{
    background-image: url(./image/alvarez.png);
}
.jug-2{
    background-image: url(./image/fedemateo.png);
}
.jug-3{
    background-image: url(./image/banega.jpg);
}
.jug-4{
    background-image: url(./image/godoy.jpg);
}
.cards a{
    background-color: black;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    text-decoration: none;
}
.cards a:hover{
    transform: scale(1.05);
}