.footer {
    @include titulos;
    height: 100%;

    .icons {
        display: flex;
        column-gap: 15px;
        width: 70vw;
        justify-content: space-evenly;
        align-items: center;
        

        .icon {
            width: 3em;
            height: 3em;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            font-size: 15px;
            color: #fff;
            border-radius: 50%;
            outline: 2px solid #fff;
            transition-property:
                outline-offset, outline-color,
                background-color;
            transition-duration: .25s;

            i{
                font-size: 2em;
            }

            &:hover {
                outline-offset: 4px;

                .icon:hover i {
                    animation: shake .25s;
                    color: white;

                    @keyframes shake {
                        10% {
                            transform: rotate(15deg);
                        }

                        20% {
                            transform: rotate(-15deg);
                        }

                        30% {
                            transform: rotate(15deg);
                        }

                        40% {
                            transform: rotate(-15deg);
                        }
                    }
                }
            }

            @media (min-width: 780px)and (max-width:1023px) {
                width: 2.5em;
                height: 2.5em;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                font-size: 20px;
                color: #fff;
                border-radius: 50%;
                outline: 2px solid #fff;
                transition-property:
                    outline-offset, outline-color,
                    background-color;
                transition-duration: .25s;

                i{
                    font-size: 1.5em;
                }
            }

            @media (min-width: 1024px){
                width: 2.5em;
                height: 2.5em;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                font-size: 20px;
                color: #fff;
                border-radius: 50%;
                outline: 2px solid #fff;
                transition-property:
                    outline-offset, outline-color,
                    background-color;
                transition-duration: .25s;

                i{
                    font-size: 1.5em;
                }
            }
        }

        .icon--instagram:hover {
            background-image: radial-gradient(circle at 30% 107%,
                    #fdf497 0%, #fdf497 5%,
                    #fd5949 45%, #d6249f 60%,
                    #285AEB 90%);
            outline-color: #a02d76;
        }

        .icon--twitter:hover {
            background-color: #1da1f2;
            outline-color: #1da1f2;
        }

        .icon--facebook:hover {
            background-color: #0077b5;
            outline-color: #0077b5;
        }

        .icon--youtube:hover {
            background-color: red;
            outline-color: red;
        }
    }

}