.hero1{

    margin: 30px;

    .hero__text1{
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        flex-direction: column;
        padding: 15px;
        border-radius: 20px;
        

        background-color: rgba(0, 0, 0, 0.542);
        height: 30vh;

        h2{
            margin-top: 40px;
            font-size: 1.5em;
        }
    }
}

.tarjetas{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @media (min-width: 1024px){
        justify-content: space-around;
        width: 100%;
    }

    .cards{
        background-color: white;
        width:250px;
        height: auto;
        margin: 10px;
        border-radius: 15px;
        box-shadow: 5px 8px 12px black;
        overflow: hidden;

        
        

        &:hover{
            background-color: #285AEB;
            color: white;
            cursor: pointer;
            transform: scale(1.03);
            transition: all 0.6s ease;
        }

        .card__image{
            height: 200px;
            margin-bottom: 15px;
            background-size: cover;

            
        }

        
        .card__titulo{
            padding: 10px;
            text-align: center;
            background-color: #1da0f2b3;
        }

        .card__parrafo{
            padding: 10px;
        }

        a{
            background-color: black;
            color: white;
            padding: 15px 20px;
            display: block;
            text-align: center;
            margin: 20px 50px;
            text-decoration: none;

            &:hover{
                transform: scale(1.05);
            }
        }

        
        
        
    }
}