.hero2{
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-align: center;
    padding: 15px;
    border-radius: 20px;
    background-color: rgba(128, 128, 128, 0.542);
    height: 20vh;

    
    h1{
        font-size: 4vw;
    }

   
}

.representamos{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    margin: 10px;
    border: black 5px solid;

    .hero{
        height: 60vh;
        background-image: url(../image/oficina.jpg); 
        background-size:cover; 
        display: flex;
        justify-content: center;
        align-items: center;

      }


      &__text {
        color: rgb(147, 70, 70);
        padding: 15px;
        border-radius: 20px;
        background-color: rgba(128, 128, 128, 0.973);
        

        h2{
            background-color: #ffffff74;
            
        }
      }

    .rep-1{
        background-size: cover;
        width: 70vw;
        align-items: center;
    }

    .representamos__seccion h2{
        align-items: center;
        background-color: #ffffff74;
        background-size: 150px;
    }


    .representamos__seccion h5{
        background-color: #ffffff74;
        text-align: justify;
    }
}